<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Gotto Job Details</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/css/tooplate-gotto-job.css" rel="stylesheet" />
  </head>

  <body id="top">
    <%- include('./partials/navbar') %>
    <main>
      <header class="site-header">
        <div class="section-overlay"></div>

        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-12 text-center">
              <h1 class="text-white">Job Details</h1>

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>

                  <li class="breadcrumb-item active" aria-current="page">
                    Job Details
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </header>

      <section class="job-section section-padding pb-0">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-12">
              <h2 class="job-title mb-0"><%= job.title %></h2>

              <div class="job-thumb job-thumb-detail">
                <div
                  class="d-flex flex-wrap align-items-center border-bottom pt-lg-3 pt-2 pb-3 mb-4"
                >
                  <p class="job-location mb-0">
                    <i class="custom-icon bi-geo-alt me-1"></i>
                    <%= job.location %>
                  </p>

                  <div class="d-flex">
                    <p class="mb-0">
                      <a href="#" class="badge badge-level"
                        ><%= job.level %></a
                      >
                    </p>

                    <p class="mb-0">
                      <a href="#" class="badge"><%= job.type %></a>
                    </p>
                  </div>
                </div>

                <h4 class="mt-4 mb-2">Job Description</h4>

                <p>
                  <%= job.description %>
                </p>

                <h5 class="mt-4 mb-3">The Role</h5>

                <p class="mb-1">
                  <strong>Benefits:</strong> Lorem Ipsum dolor sit amet,
                  consectetur adipsicing kengan omeg kohm tokito adipcingi elit
                </p>

                <p>
                  <strong>Good salary:</strong> Lorem Ipsum dolor sit amet,
                  consectetur adipsicing kengan omeg kohm tokito
                </p>

                <h5 class="mt-4 mb-3">Requirements</h5>

                <ul>
                  <li>Strong knowledge in computing skill</li>

                  <li>
                    Minimum 5 years of working experiences consectetur omeg
                  </li>

                  <li>Excellent interpersonal skills</li>
                </ul>

                <div
                  class="d-flex justify-content-center flex-wrap mt-5 border-top pt-4"
                >
                  <a href="/login" class="custom-btn btn mt-2">Apply now</a>

                  <div class="job-detail-share d-flex align-items-center">
                    <p class="mb-0 me-lg-4 me-3">Share:</p>

                    <a href="https://www.facebook.com/" class="bi-facebook"></a>

                    <a href="https://twitter.com/" class="bi-twitter mx-3"></a>

                    <a href="#" class="bi-share"></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12 mt-5 mt-lg-0">
              <div class="job-thumb job-thumb-detail-box bg-white shadow-lg">
                <div class="d-flex align-items-center">
                  <div
                    class="job-image-wrap d-flex align-items-center bg-white shadow-lg mb-3"
                  >
                    <img
                      src="/images/logos/google.png"
                      class="job-image me-3 img-fluid"
                      alt=""
                    />

                    <p class="mb-0"><%= job.company %></p>
                  </div>

                  <a href="#" class="bi-bookmark ms-auto me-2"></a>

                  <a href="#" class="bi-heart"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer') %>

    <!-- JAVASCRIPT FILES -->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/owl.carousel.min.js"></script>
    <script src="./js/counter.js"></script>
    <script src="./js/custom.js"></script>
  </body>
</html>
